<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>A reset request was sent!</h1>
    <p>Please check your inbox for further steps.</p>
<%- include('includes/end.ejs') %>